table {
  width: 100%;
}

.margins{
  margin-bottom: 100px;
  margin-right: 90px;
  margin-left: 80px;
}

.product-container {
  height: 500px;
  overflow: auto;
}

.input {
  width: 45%; 
}

.product-outer{
  overflow:hidden;
}

.material-icons{
  font-size: 14px;
  padding-right: 10px;
}

